.div1 {
  height: 40% !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  flex-direction: column;
  background-image: url("./assets//pattern-bg-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.div1_input {
  height: 30px;
  width: 350px;
  border: 0px !important;
  border-radius: 5px;
  margin-bottom: 130px;
}
.div1_btn {
  height: 33px;
  margin-left: 10px;
  width: 60px;
  font-size: 15px;
  background-color: black;
  color: #ffff;
  border-radius: 5px;
}
.div2 {
  height: 450px;
  width: 100%;
}
:global(.leaflet-container) {
  height: 100%;
}
.leaflet_container {
  height: 100% !important;
}
